annotated-types
attrs
babel
beautifulsoup4
behave
certifi
cffi
charset-normalizer
colorama
-e ../company-common
cssselect
curl_cffi
exceptiongroup
execnet
fasteners
filelock
h11
idna
iniconfig
Jinja2
Js2Py
markdown-it-py
MarkupSafe
mdurl
MouseInfo
mycdp
outcome
packaging
parameterized
parse
parse_type
pdbp
platformdirs
pluggy
price-parser
psutil
psycopg[binary]>=3.2.3
PyAutoGUI
pycparser
pydantic
pydantic_core
PyGetWindow
Pygments
pyjsparser
PyMsgBox
pynose
PyOTP
pyperclip
PyRect
PyScreeze
PySocks
pytest
pytest-html
pytest-metadata
pytest-ordering
pytest-rerunfailures
pytest-xdist
python-dateutil
python-xlib
python3-xlib
pytweening
PyYAML
requests
requests-file
rich
sbvirtualdisplay
selenium
seleniumbase
setuptools
six
sniffio
sortedcontainers
soupsieve
tabcompleter
tldextract
trio
trio-websocket
typing-inspection
typing_extensions
tzlocal
urllib3
websocket-client
websockets
wheel
wsproto